<%- include('./header.ejs')%>

    <section class="cmspage mtb-40">
        <div class="container">
         <a href="/displayabout"> <h1>About US</h1></a>
         
          <div class="page-desc">
           <div> <img src="<%=a.image.url %>" width="500px"></div>
                                        
                                            <div><%= a.about %></div>
                                        
          </div>
        </div>
    </section>
<%- include('./footer.ejs')%>
    