<div class="col-md-3">
    <div class="dash-left">
        <ul>
            <li class="active"><a href="/dashboard" class="active">Dashboard</a></li>
            <li><a href="/bloglistone">Blogs</a></li>
            <li><a href="/categorydisplay">Categories</a></li>
            <li><a href="/displayabout">About</a></li>
            <li><a href="/contact/contactdisplay">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>   
</div>